{
  "IsEncrypted": false,
  "Values": {
    "_AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=sacpsdevrumpolepipeline;AccountKey=g8PLInLf+MIOMd3eVbvZLOAfxxGc4GoISdOtecNzejYvPNSNe8mNIc/co87qy0scx+SagO1VZJZoIzVUIGi6ZA==;EndpointSuffix=core.windows.net",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",

    "searchDataStorage:EndpointUrl": "https://cdb-rumpole-pipeline-dev.documents.azure.com:443/",
    "searchDataStorage:AuthorizationKey": "Su83jH1Js97h7vjjo1TEkianOnjAlVhXzGW5Gu8GRCwtFIG9c6SaPm9h30ktZS5GcO9DBgwnF7dQCfhxZoZhsQ==",
    "searchDataStorage:DatabaseName": "cdb-rumpole-pipeline",
    "searchDataStorage:ContainerName": "documents",

    "searchDataIndex:EndpointUrl": "https://ss-rumpole-pipeline-dev.search.windows.net",
    "searchDataIndex:AuthorizationKey": "16B8505A67064694C8F531B9A6DBFB7B",
    "searchDataIndex:IndexName": "lines-index"
  },
  "Host": {
    "LocalHttpPort": 7075
  }
}
